body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  color: #1B2522;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1B2522;
  padding: .5rem 1rem;
}

.nav-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  animation: nav-enter var(--nav-duration) var(--nav-delay) backwards;
}

.logo {
  width: 30px;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.nav-list a {
  text-decoration: none;
  margin-left: 1rem;
  color: white;

  transition: color 100ms;
}

.nav-list a:hover {
  color: #CCC;
}

.cd-schedule__group > ul {
  position: relative;
  padding: 0 var(--component-padding);
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.cd-schedule__event {
  flex-shrink: 0;
  float: left;
  height: 150px;
  width: 70%;
  max-width: 300px;
}

.cd-schedule-modal {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  transform: translateX(100%);
  transition: transform .4s, visibility .4s;
}

.cd-schedule-modal--open {
  transform: translateX(0);
  visibility: visible;
}

.js {
  @include breakpoint(md) {
    .cd-schedule__events {
      width: 100%;

      > ul {
        display: flex;
        flex-wrap: nowrap;
      }
    }

    .cd-schedule__group {
      flex-basis: 0;
      flex-grow: 1;
    }

    .cd-schedule__event {
      position: absolute;
      z-index: 3;
      width: calc(100% + 2px); // top position and height will be set using js
      left: -1px;
    }
  }
}

@keyframes nav-enter {
  from {
    transform: translateY(-100%);
  }
}